.rw-btn {
  position: relative;
  color: $btn-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;

  &:focus {
    @include focus-ring();
  }

  .rw-state-readonly &,
  .rw-state-disabled & {
    cursor: not-allowed;
  }
}

.rw-btn-select {
  opacity: 0.75;
  transition: opacity 150ms ease-in;

  &:hover,
  .rw-state-focus &,
  :hover > & {
    opacity: 1;
  }
}

.rw-btn-primary {
  //width: 100%;
  white-space: normal;
  line-height: 2em;
  border-radius: $btn-border-radius;

  &:hover {
    background-color: $state-hover-bg;
  }
}

.rw-btn-select[disabled],
.rw-btn-primary[disabled],
fieldset[disabled] .rw-btn-select,
fieldset[disabled] .rw-btn-primary {
  @include state-disabled();
  opacity: 0.65;
  pointer-events: none;
}
