.rw-calendar-popup {
  right: auto;
  min-width: 0;
  width: 22em;
}

.rw-calendar {
  border-radius: $border-radius;
  background-color: $calendar-bg;
  border: $widget-border 1px solid;
  overflow: hidden;

  .rw-popup & {
    border: none;
  }
}

.rw-calendar-now {
  font-weight: bold;
}
.rw-calendar-header {
  display: flex;
  padding: 0.8em;
}

.rw-calendar-btn-left,
.rw-calendar-btn-today,
.rw-calendar-btn-right,
.rw-calendar-btn-view {
  padding: 0.3em 0.6em;
}

.rw-calendar-btn-view {
  font-weight: bold;

  & > :last-child {
    margin: 0 0.5em;
  }
  & + * {
    margin-left: auto;
  }

  .rw-rtl & + * {
    margin-left: 0;
    margin-right: auto;
  }
}

.rw-calendar-footer {
  border-top: 1px solid $input-border;
}

.rw-calendar-grid {
  outline: none;
  height: 14em;
  padding: $widget-focus-width;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: $calendar-bg;
}

.rw-head-cell {
  text-align: $calendar-cell-align;
  border-bottom: 1px solid $input-border;
  padding: $calendar-cell-padding;
}

.rw-cell {
  color: $calendar-cell-color;
  border-radius: $calendar-cell-border-radius;
  cursor: pointer;
  line-height: normal;
  text-align: center;
  border: 1px solid transparent;
  padding: $calendar-cell-padding;
  outline: none;

  &:hover {
    @include state-hover(
      $calendar-cell-bg-hover,
      $calendar-cell-border-hover,
      $calendar-cell-color-hover
    );
  }

  &:focus {
    @include focus-ring();
  }

  &.rw-state-selected {
    @include state-select(
      $calendar-cell-bg-select,
      $calendar-cell-border-select,
      $calendar-cell-color-select
    );
  }

  &.rw-state-disabled {
    @include disabled-color($btn-color);

    &:hover {
      background: none;
      border-color: transparent;
    }
  }

  .rw-calendar-month & {
    text-align: $calendar-cell-align;
  }
}

.rw-cell-off-range {
  color: lighten($btn-color, 40%);
}

@mixin translate($x, $y) {
  transform: translate(#{$x}, #{$y});

  @supports (transform-style: preserve-3d) {
    transform: translate3d(#{$x}, #{$y}, 0);
  }
}

.rw-calendar-transition-group {
  position: relative;
  overflow: hidden;
}

.rw-calendar-transition {
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s ease-in-out 0ms;
  @include translate(0, 0);
}

.rw-calendar-transition-next {
  -webkit-backface-visibility: hidden;

  .rw-calendar-transition-top & {
    @include translate(0, -100%);
  }
  .rw-calendar-transition-bottom & {
    @include translate(0, 100%);
  }
  .rw-calendar-transition-right & {
    @include translate(-100%, 0);
  }
  .rw-calendar-transition-left & {
    @include translate(100%, 0);
  }

  &.rw-calendar-transition-active {
    @include translate(0, 0);
  }
}

.rw-calendar-transition-prev {
  -webkit-backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;

  .rw-calendar-transition-top & {
    @include translate(0, 100%);
  }
  .rw-calendar-transition-bottom & {
    @include translate(0, -100%);
  }
  .rw-calendar-transition-right & {
    @include translate(100%, 0);
  }
  .rw-calendar-transition-left & {
    @include translate(-100%, 0);
  }
}
