.rw-dropdown-inner-input,
.rw-dropdown-list-search {
  @extend .rw-input-reset;

  padding: 0;
}

.rw-dropdown-list {
  width: 100%;
}

.rw-dropdown-list-search {
  position: absolute;
  top: 0;
  bottom: 0;
}

.rw-dropdown-list-input {
  background-color: transparent;
  vertical-align: middle;
  align-self: center;
  padding-right: 0;

  /* ellipsis */
  & {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .rw-rtl & {
    padding-right: $input-btn-padding-x;
    padding-left: 0;
  }
}
