.rw-list {
  // outline: 0;
  font-size: $list-font-size;
  overflow-x: visible;
  overflow-y: auto;
  padding-top: $list-padding-y;
  padding-bottom: $list-padding-y;

  &:focus {
    outline: none;
  }
}

.rw-list-option {
  user-select: none;
  color: $list-color;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover,
  [data-intent='keyboard'] &.rw-state-focus:not(.rw-state-selected) {
    background-color: $list-focus-bg;
    border-color: $list-focus-border-color;
    color: $list-focus-color;
  }

  &.rw-state-selected {
    background-color: $list-selected-bg;
    border-color: $list-selected-border-color;
    color: $list-selected-color;
  }

  &.rw-state-disabled {
    cursor: not-allowed; // required to override the cursor above
    background-color: $list-disabled-bg;
    border-color: $list-disabled-border-color;
    color: $list-disabled-color;
  }
}

.rw-list-empty,
.rw-list-option,
.rw-list-optgroup {
  padding: $list-option-padding-y $list-option-padding-x;
  outline: none;
}

.rw-list-empty {
  text-align: center;
  color: $list-option-muted-color;
}

.rw-list-optgroup {
  color: $list-optgroup-color;
  font-weight: $list-optgroup-font-weight;
  padding-top: 7px;
}

.rw-list-option-create {
  @extend .rw-list-option;

  display: block;
  font-size: $list-font-size;
  padding: $list-option-padding-y $list-option-padding-x;
}
