.rw-list {
  // outline: 0;
  font-size: $list-font-size;
  overflow-x: visible;
  overflow-y: auto;
  padding-top: $list-padding-y;
  padding-bottom: $list-padding-y;
}

.rw-list-option {
  user-select: none;
  color: $list-color;
  cursor: pointer;
  border: 1px solid transparent;

  [data-intent='keyboard'] &.rw-state-focus:not(.rw-state-selected),
  &:hover {
    background-color: $list-focus-bg;
    border-color: $list-focus-border-color;
    color: $list-focus-color;
  }

  &.rw-state-selected {
    background-color: $list-select-bg;
    border-color: $list-select-border-color;
    color: $list-select-color;
  }

  &.rw-state-disabled,
  &.rw-state-disabled:hover {
    cursor: not-allowed; // required to override the cursor above
    background-color: $list-disabled-bg;
    border-color: $list-disabled-border-color;
    color: $list-disabled-color;
  }
}

.rw-list-empty,
.rw-list-option,
.rw-list-optgroup {
  padding: $list-option-padding-y $list-option-padding-x;
  outline: none;
}

.rw-list-optgroup {
  font-weight: bold;
  padding-top: 7px;
}

.rw-list-option-create {
  @extend .rw-list-option;

  display: block;
  font-size: $list-font-size;
  padding: $list-option-padding-y $list-option-padding-x;
}
