@mixin border-box() {
  background-clip: border-box;

  &,
  & * {
    box-sizing: border-box;
  }

  &:before,
  & *:before,
  &:after,
  & *:after {
    box-sizing: border-box;
  }
}

@mixin unstyled-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin select-container($padding) {
  padding-right: $padding;

  > .rw-select {
    width: $padding;
  }

  &.rw-rtl {
    padding-right: 0;
    padding-left: $padding;
  }
}

@mixin focus-ring($color: $widget-focus-color, $width: $widget-focus-width) {
  z-index: 1;
  box-shadow: 0 0 0 $width $color;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin state-hover(
  $bg: $state-hover-bg,
  $border-color: $state-hover-border-color,
  $color: $state-hover-color
) {
  background-color: $bg;
  border-color: $border-color;
  color: $color;
}

@mixin state-select(
  $bg: $state-select-bg,
  $border-color: $state-select-border-color,
  $color: $state-select-color
) {
  &,
  &:hover {
    background-color: $bg;
    border-color: $border-color;
    color: $color;
  }
}

@mixin state-focus($bg, $border-color, $color) {
  &,
  &:hover {
    background-color: $bg;
    border-color: $border-color;
    color: $color;
  }
}

@mixin state-disabled() {
  box-shadow: none;
  cursor: not-allowed;
}

@mixin disabled-color($color) {
  color: lighten($color, 40%);
  opacity: 0.7;
}

@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
  } // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
  } // Safari and Chrome
}

@mixin make-btn-state(
  $hover-color: $btn-hover-bg,
  $active-shadow: $btn-active-box-shadow
) {
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $btn-hover-bg;
  }

  &:active {
    box-shadow: $btn-active-box-shadow;
  }

  .rw-state-disabled &,
  .rw-state-readonly &,
  fieldset[disabled] & {
    &,
    &:hover,
    &:active {
      cursor: not-allowed;
      background-color: inherit;
      background-image: none;
      box-shadow: none;
    }
  }
}
