.rw-multiselect {
}

.rw-multiselect-input {
  @extend %rw-btn-input-reset, %rw-input-base;

  height: calc(#{$input-height} - #{$input-border-width} * 2);
  padding: 0 $input-padding-x;
  max-width: 100%; // breaks to a new line but doesn't stop growing

  &:disabled,
  &:read-only {
    // use parent style
    cursor: inherit;
  }
}

.rw-multiselect-taglist {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  outline: none;
  cursor: text;

  .rw-state-disabled & {
    cursor: unset;
  }
}

.rw-multiselect-tag {
  display: inline-flex;
  color: $multiselect-tag-color;
  margin-left: $multiselect-tag-gutter;
  margin-top: $multiselect-tag-gutter;
  min-height: $multiselect-tag-height;
  border-radius: $multiselect-tag-border-radius;
  background-color: $multiselect-tag-bg;
  border: 1px solid $multiselect-tag-border-color;
  // reset the text selection cursor on the parent
  cursor: default;
  max-width: 100%;
  align-items: center;

  &:focus {
    outline: none;
  }

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: $multiselect-tag-gutter;
    padding: 0 $multiselect-tag-padding-left 0 $multiselect-tag-padding-right;
  }

  &.rw-state-focus {
    @include focus-ring();
  }

  &.rw-state-disabled,
  fieldset[disabled] & {
    opacity: 0.65;
  }
}

.rw-multiselect-tag-label {
  padding: 0 $multiselect-tag-padding-right 0 $multiselect-tag-padding-left;
}

.rw-multiselect-tag-btn {
  @extend %rw-btn-input-reset;

  cursor: pointer;
  align-self: stretch;
  // border radius clipping when there are background colors, e.g. hover/active
  // easier than rtl border radius'in
  overflow: hidden;
  padding: $multiselect-tag-btn-padding-y $multiselect-tag-btn-padding-x;
  color: $multiselect-tag-btn-color;
  border-color: $multiselect-tag-btn-border-color;
  background-color: $multiselect-tag-btn-bg;

  &:hover {
    color: $multiselect-tag-btn-hover-color;
    border-color: $multiselect-tag-btn-hover-border-color;
    background-color: $multiselect-tag-btn-hover-bg;
  }
  &:active {
    color: $multiselect-tag-btn-active-color;
    background-color: $multiselect-tag-btn-active-bg;
    border-color: $multiselect-tag-btn-active-border-color;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: inherit;
  }
}
