@mixin Popup() {
  .rw-popup-container {
    position: absolute;
    z-index: $popup-zindex;
    top: 100%;
    left: -$popup-box-shadow-offset;
    right: -$popup-box-shadow-offset;
    padding: 0 $popup-box-shadow-offset;

    &.rw-dropup {
      top: auto;
      bottom: 100%;
    }

    .rw-state-focus & {
      z-index: $popup-zindex-focused;
    }
  }

  .rw-slide-transition {
    // the offsets allows for drop shadow to not be clipped by the container
    // width: 100%;
    margin-bottom: $popup-box-shadow-offset;
    // margin: 0 $popup-box-shadow-offset;

    .rw-dropup > & {
      margin-bottom: 0;
      margin-top: $popup-box-shadow-offset;
    }
  }

  .rw-popup {
    overflow: auto; // this is needed for some reason to clip scrollbar corners
    -webkit-overflow-scrolling: touch;
    margin-top: $popup-widget-offset;
    border-radius: $popup-border-radius;
    box-shadow: $popup-box-shadow;
    border: $popup-border 1px solid;
    background: $popup-bg;

    & .rw-list {
      max-height: $popup-max-height;
    }

    .rw-dropup & {
      margin-top: 0;
      margin-bottom: $popup-widget-offset;
      box-shadow: $popup-box-shadow-up;
    }
  }

  .rw-slide-transition {
    transition: transform 130ms, opacity 100ms;
  }

  .rw-slide-transition-entering {
    overflow: hidden;

    & .rw-slide-transition {
      transform: translateY(0);
      opacity: 1;
      transition-timing-function: ease-out;
    }
  }

  .rw-slide-transition-exiting {
    & .rw-slide-transition {
      transition-timing-function: ease-in;
    }
  }

  .rw-slide-transition-exiting,
  .rw-slide-transition-exited {
    overflow: hidden;

    & .rw-slide-transition {
      opacity: 0;
      transform: translateY(-10%);
    }

    &.rw-dropup .rw-slide-transition {
      opacity: 0;
      transform: translateY(10%);
    }
  }

  .rw-slide-transition-exited {
    display: none;
  }
}
