$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$font-size: 1em !default;
$font-family: inherit !default;
$text-color: $gray-900 !default;

$version: '4.1.0' !default;

$border-radius: 4px !default;
$border-radius-sm: 3px !default;

$widget-bg: #fff !default;
$widget-border: #ccc !default;

$widget-active-color: $white !default;
$widget-active-bg: #007bff !default;

$widget-focus-width: 3px;
$widget-focus-color: rgba($widget-active-bg, 0.25) !default;
$widget-focus-box-shadow: 0 0 0 $widget-focus-width $widget-focus-color !default;

$icon-color: inherit !default;

//
// Widget States
//
$state-select-bg: $widget-active-bg !default;
$state-select-border-color: $state-select-bg !default;
$state-select-color: $widget-active-color !default;

$state-hover-bg: darken(#fff, 10%) !default;
$state-hover-border-color: $state-hover-bg !default;
$state-hover-color: $text-color !default;

//
// Buttons
//

$btn-hover-bg: $state-hover-bg !default;
$btn-hover-border: $state-hover-border-color !default;
$btn-active-bg: darken($state-hover-bg, 3%);
$btn-disabled-bg: $gray-200 !default;

$picker-btn-color: $gray-700 !default;
$picker-btn-border-color: null !default;
$picker-btn-bg: null !default;

$picker-btn-hover-color: null !default;
$picker-btn-hover-border-color: null !default;
$picker-btn-hover-bg: darken(#fff, 10%) !default;

$picker-btn-active-color: null !default;
$picker-btn-active-border-color: null !default;
$picker-btn-active-bg: darken($picker-btn-hover-bg, 3%) !default;

//
// Picker inputs
//

$input-height: 2.429em !default; // 2.5em is good for 16px roots
$input-color: $gray-700 !default;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !default;
$input-btn-padding-x: 0.857em !default;

$input-bg: $widget-bg !default;
$input-color-placeholder: #999 !default;

$input-border: $widget-border !default;
$input-border-width: 1px !default;
$input-border-radius: $border-radius !default;

$input-disabled-bg: $gray-200 !default;
$input-disabled-border: $input-border !default;

// $input-hover-bg: $gray-200 !default;
// $input-hover-border: $input-border !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: lighten($widget-active-bg, 25%) !default;
$input-focus-color: $input-color !default;
$input-focus-width: $widget-focus-width !default;
$input-focus-box-shadow: $widget-focus-box-shadow !default;

$input-bg-color-autofill: rgb(232, 240, 254) !default;
$input-color-autofill: rgb(0, 0, 0) !default;
//
// List
//
$list-color: $text-color !default;
$list-font-size: $font-size !default;
$list-padding-y: 0.5em !default;

$list-hover-bg: $state-hover-bg !default;
$list-hover-border-color: $state-hover-border-color !default;
$list-hover-color: $state-hover-color !default;

$list-focus-bg: $list-hover-bg !default;
$list-focus-border-color: $list-hover-border-color !default;
$list-focus-color: $list-hover-color !default;

$list-select-bg: $state-select-bg !default;
$list-select-border-color: $state-select-border-color !default;
$list-select-color: $state-select-color !default;

$list-disabled-bg: null !default;
$list-disabled-border-color: null !default;
$list-disabled-color: transparentize($list-color, 0.7) !default;

$list-option-padding-y: 0.25em;
$list-option-padding-x: 1.5em;

//
// Popup
//
$popup-widget-offset: 2px !default;
$popup-max-height: 250px;
$popup-bg: $widget-bg !default;
$popup-border: $widget-border !default;
$popup-border-radius: $border-radius !default;
$popup-box-shadow-offset: 1em !default;
$popup-box-shadow: 0 0.5em 1em rgba($black, 0.175) !default;
$popup-box-shadow-up: 0 0.5em 1em rgba($black, 0.175) !default !default;

$popup-zindex: 1005 !default;
$popup-zindex-focused: $popup-zindex + 1 !default;

//
// Calendar
//
$calendar-bg: $widget-bg !default;

$calendar-btn-bg: #fff !default;
$calendar-btn-color: $text-color !default;
$calendar-btn-border: #ccc !default;
$calendar-btn-border-radius: $border-radius !default;

$calendar-cell-align: center !default;
$calendar-cell-padding: 0.25em !default;
$calendar-cell-color: $calendar-btn-color !default;
$calendar-cell-border-radius: $input-border-radius !default;

$calendar-btn-hover-bg: $state-hover-bg !default;
$calendar-btn-hover-border-color: $state-hover-border-color !default;
$calendar-btn-hover-color: $state-hover-color !default;

$calendar-btn-active-color: null !default;
$calendar-btn-active-border-color: null !default;
$calendar-btn-active-bg: darken($calendar-btn-hover-bg, 3%) !default;

$calendar-cell-select-color: $state-select-color !default;
$calendar-cell-select-border-color: $state-select-border-color !default;
$calendar-cell-select-bg: $state-select-bg !default;

//
// Multiselect
//
$multiselect-gutter-pt: 0.115 !default;
$multiselect-tag-padding-left: 0.35em !default;
$multiselect-tag-padding-right: 0.35em !default;

$multiselect-tag-button-padding: 0.35em !default;

$multiselect-tag-color: inherit !default;
$multiselect-tag-border: $gray-300 !default;
$multiselect-tag-bg: $gray-300 !default;
$multiselect-tag-height-pt: 1 - ($multiselect-gutter-pt * 2) !default;
$multiselect-tag-gutter: calc(
  #{$input-height * $multiselect-gutter-pt} - #{$input-border-width}
) !default;
$multiselect-tag-height: $input-height * $multiselect-tag-height-pt !default;
$multiselect-tag-border-radius: $border-radius-sm !default;

$multiselect-tag-bg-hover: $state-hover-bg !default;
$multiselect-tag-border-hover: $state-hover-border-color !default;
$multiselect-tag-color-hover: $state-hover-color !default;
