$widgets: (
  'Listbox',
  'DropdownList',
  'Combobox',
  'Autocomplete',
  'Multiselect',
  'DateTimePicker',
  'Calendar',
  'TimeInput',
  'NumberPicker'
) !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

//
// Widget States
//
$widget-font-weight: null !default; // TODO
$widget-font-size: 1em !default;
$widget-font-family: inherit !default;

$widget-border-radius: 4px !default;

$widget-bg: #fff !default;
$widget-color: $gray-900;
$widget-border-color: #ccc !default;
$widget-disabled-bg: $gray-200 !default;

$widget-hover-bg: $gray-200 !default;
$widget-hover-border-color: $widget-hover-bg !default;
$widget-hover-color: null !default;

$widget-focus-width: 3px;
$widget-focus-color: rgba(0, 123, 255, 0.25) !default;
$widget-focus-box-shadow: 0 0 0 $widget-focus-width $widget-focus-color !default;
$widget-focus-transition: box-shadow 0.15s ease-in-out !default;

//
// Buttons
//
$picker-btn-align-items: null !default; // TD
$picker-btn-justify-content: null !default; // TD

$picker-btn-padding-left: null !default;
$picker-btn-padding-right: null !default;
$picker-btn-color: $widget-color !default;
$picker-btn-border-color: null !default;
$picker-btn-bg: null !default;
$picker-btn-disabled-bg: $widget-disabled-bg !default;

$picker-btn-hover-color: null !default;
$picker-btn-hover-border-color: null !default;
$picker-btn-hover-bg: $widget-hover-bg !default;

$picker-btn-active-color: null !default;
$picker-btn-active-border-color: null !default;
$picker-btn-active-bg: $gray-300 !default;

//
// Picker inputs
//

$input-height: 38px !default; // 2.5em is good for 16px roots
$input-color: $gray-700 !default;
$input-caret-color: null !default;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !default;
$input-padding-x: 0.857em !default;

$input-bg: $widget-bg !default;
$input-placeholder-color: #999 !default;

$input-border-color: $widget-border-color !default;
$input-border-width: 1px !default;
$input-border-radius: $widget-border-radius !default;

$input-disabled-bg: $widget-disabled-bg !default;
$input-disabled-border-color: null !default;
$input-disabled-color: null !default;
$input-disabled-placeholder-color: #999 !default;

$input-focus-bg: null !default;
$input-focus-border-color: #80bdff !default; // 25% lighter active-bg
$input-focus-color: null !default;

$input-autofill-bg: rgb(232, 240, 254) !default;
$input-autofill-color: rgb(0, 0, 0) !default;

$input-addon-width: 1.9em !default;
$input-addon-border-color: $input-border-color !default;

//
// Multiselect
//
$multiselect-gutter-pt: 0.115 !default;
$multiselect-tag-padding-left: 0.35em !default;
$multiselect-tag-padding-right: 0.35em !default;

$multiselect-tag-color: null !default;
$multiselect-tag-border-color: $gray-300 !default;
$multiselect-tag-bg: $gray-300 !default;

$multiselect-tag-height-pt: 1 - ($multiselect-gutter-pt * 2) !default;
$multiselect-tag-gutter: calc(
  #{$input-height} * #{$multiselect-gutter-pt} - #{$input-border-width}
) !default;
$multiselect-tag-height: calc(
  #{$input-height} * #{$multiselect-tag-height-pt}
) !default;
$multiselect-tag-border-radius: 3px !default;

$multiselect-tag-btn-padding-y: 0 !default;
$multiselect-tag-btn-padding-x: 0.35em !default;

$multiselect-tag-btn-bg: null !default;
$multiselect-tag-btn-border-color: null !default;
$multiselect-tag-btn-color: null !default;

$multiselect-tag-btn-hover-bg: null !default;
$multiselect-tag-btn-hover-border-color: null !default;
$multiselect-tag-btn-hover-color: null !default;

$multiselect-tag-btn-active-bg: null !default;
$multiselect-tag-btn-active-border-color: null !default;
$multiselect-tag-btn-active-color: null !default;

//
// List
//
$list-color: $widget-color !default;
$list-font-size: $widget-font-size !default;
$list-padding-y: 0.5em !default;

$_list-hover-bg: $widget-hover-bg !default;
$_list-hover-border-color: $widget-hover-border-color !default;
$_list-hover-color: $widget-hover-color !default;

$list-focus-bg: $_list-hover-bg !default;
$list-focus-border-color: $_list-hover-border-color !default;
$list-focus-color: $_list-hover-color !default;

$list-selected-bg: #007bff !default;
$list-selected-border-color: $list-selected-bg !default;
$list-selected-color: #fff !default;

$list-disabled-bg: transparent !default;
$list-disabled-border-color: transparent !default;
$list-disabled-color: $gray-300 !default;

$list-option-padding-y: 0.25em !default;
$list-option-padding-x: 1.5em !default;
$list-option-muted-color: $gray-400 !default;

$list-option-create-bg: $widget-bg !default;

$list-optgroup-color: null !default;
$list-optgroup-font-weight: bold !default;

//
// Popup
//
$popup-widget-offset: 2px !default;
$popup-max-height: 250px;
$popup-bg: $widget-bg !default;
$popup-border: $widget-border-color !default;
$popup-border-radius: $widget-border-radius !default;
$popup-box-shadow-offset: 1em !default;
$popup-box-shadow: 0 0.5em 1em rgba(#000, 0.175) !default;
$popup-box-shadow-up: 0 0.5em 1em rgba(#000, 0.175) !default !default;

$popup-zindex: 1005 !default;
$popup-zindex-focused: $popup-zindex + 1 !default;

//
// Calendar
//
$calendar-bg: $widget-bg !default;

$calendar-btn-bg: #fff !default;
$calendar-btn-color: $widget-color !default;
$calendar-btn-border-color: null !default;
$calendar-btn-muted-color: $gray-400;
$calendar-btn-border-radius: $widget-border-radius !default;

$calendar-btn-hover-bg: $widget-hover-bg !default;
$calendar-btn-hover-border-color: $widget-hover-border-color !default;
$calendar-btn-hover-color: $widget-hover-color !default;

$calendar-btn-active-color: null !default;
$calendar-btn-active-border-color: null !default;
$calendar-btn-active-bg: $gray-300 !default;

$calendar-btn-focus-color: null !default;
$calendar-btn-focus-border-color: null !default;
$calendar-btn-focus-bg: null !default;

$calendar-cell-align: center !default;
$calendar-cell-padding: 0.25em !default;
$calendar-cell-color: $calendar-btn-color !default;
$calendar-cell-border-color: null !default;
$calendar-cell-border-radius: $calendar-btn-border-radius !default;

$calendar-cell-select-color: $list-selected-color !default;
$calendar-cell-select-border-color: $list-selected-border-color !default;
$calendar-cell-select-bg: $list-selected-bg !default;
