{
  "env": {
    "mocha": true
  },
  "globals": {
    "$": true,
    "sinon": true,
    "expect": true,
    "__REACT_VERSION__": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": 2,
    "no-console": 0
  }
}
