$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';

@import '~react-widgets/src/scss/react-widgets';

// @import '~react-widgets-material-ui/src/less/theme.less';

html {
  font-size: 14px;
  font-family: -apple-system, 'San Francisco', Roboto, 'Segoe UI',
    'Helvetica Neue', 'Lucida Grande', sans-serif;
}

body {
  background-color: lightblue;
}
//@font-path: "../fonts";
