
.rw-combobox,
.rw-select-list,
.rw-dropdownlist {
	border-radius:	 		@select-border-radius;
	background: 				@dropdown-bg;
	border: 						@dropdown-border 1px solid;
	cursor: 						pointer;
	
  &.rw-state-focus {
    border: red 1px solid;
  }
}

.rw-dropdownlist {
	&:hover {
		background: 			@dropdown-bg-hover;
		border-color: 		@dropdown-border-hover;
	}
}