.rw-select-list {
  overflow: hidden;

  .rw-list {
    max-height: none;
    font-size: @font-size; // use widget font-size
  }
}

.rw-select-list-label {
  display: block;
  cursor: inherit;
}

input.rw-select-list-input {
  vertical-align: top;
  margin: .2em 0.4em 0 0;
  line-height: normal;
  cursor: inherit;

  .rw-rtl & {
    margin-right: 0;
    margin-left: 0.4em;
  }
}

.rw-loading-mask {
  position: relative;
  min-height: 50px;
  border-radius: @input-border-radius;

  &:after{
    content: '';
    background: url("@{img-path}/loader-big.gif") no-repeat center;
    position:   absolute;
    background-color: #fff;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
