@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

@blue-darkest:  #1d5987;
@blue-darker:   lighten(#1d5987, 13.5%);
@blue-dark:     lighten(#1d5987, 20%);
@blue:          lighten(#1d5987, 33.5%);
@blue-light:    lighten(#1d5987, 60%);
@blue-lighter:  lighten(#1d5987, 93.5%);

@border-radius: 			      4px;
@border-radius-sm: 			    3px;

@state-color-select:        white;
@state-bg-select:           @blue-darkest;
@state-border-select:       @blue-darkest;

@state-bg-hover:            @blue-light;
@state-border-hover:        @blue-light;
@state-bg-focus:            @blue-light;
@state-border-focus:        @blue-light;


@input-height: 				      1.94em;
@input-border-focus:        #66afe9;
@input-color-placeholder:   lightgrey;

@select-border-radius: 		  @border-radius;
@select-bg: 				        white;
@select-border: 			      black; 

@dropdown-bg: 				      @select-bg;
@dropdown-border: 			    @select-border;
@dropdown-bg-hover:			    lightgrey;
@dropdown-border-hover:		  @dropdown-border;

@dropdown-border-hover:		  @dropdown-border;

@list-bg-hover:             @state-bg-hover;
@list-border-hover:         @state-border-hover;

@popup-bg:                  @select-bg;
@popup-border:              @select-border;