@blue-darkest:              #1d5987;
@blue-darker:               lighten(#1d5987, 13.5%);
@blue-dark:                 lighten(#1d5987, 20%);
@blue:                      lighten(#1d5987, 33.5%);
@blue-light:                lighten(#1d5987, 60%);
@blue-lighter:              lighten(#1d5987, 93.5%);

@base: #000;

@gray-darkest:      lighten(spin(@base, 5), 10%);
@gray-darker:       lighten(spin(@base, 10), 40%);
@gray-dark:         lighten(spin(@base, 15), 50%);
@gray:              lighten(spin(@base, 20), 60%);
@gray-light:        lighten(spin(@base, 25), 70%);
@gray-lighter:      lighten(spin(@base, 30), 80%);
@gray-lightest:     lighten(spin(@base, 35), 90%);

@text-color:                @gray-darkest;

@border-radius: 			      4px;
@border-radius-sm: 			    3px;

@state-color-select:        white;
@state-bg-select:           @gray-light;
@state-border-select:       @gray-light;

@state-bg-hover:            @gray-lightest;
@state-border-hover:        @gray-lightest;
@state-color-hover:         @text-color;

@state-bg-focus:            transparent;
@state-border-focus:        @gray-light;
@state-color-focus:         @text-color;

@widget-bg:                 white;

@btn-bg:                    @gray;
@btn-color:                 @gray-darker;

@line-height:               1.94em;
@input-height: 				      @line-height;
@input-bg:                  white;
@input-border-focus:        @gray-light;
@input-color-placeholder:   @gray;

@select-border-radius: 		  @border-radius;
@select-bg: 				        @widget-bg;
@select-border: 			      @gray-darker;
        
@dropdown-bg: 				      @select-bg;
@dropdown-border: 			    @select-border;
@dropdown-bg-hover:			    @gray-lighter;
@dropdown-border-hover:		  @dropdown-border;

@dropdown-border-hover:		  @dropdown-border;

@list-bg-hover:             @state-bg-hover;
@list-border-hover:         @state-border-hover;

@popup-bg:                  @select-bg;
@popup-border:              @select-border;