$grey-100: #f5f5f5;

$md-text-primary-color: rgba(0, 0, 0, 0.87);
$md-text-secondary-color: rgba(0, 0, 0, 0.54);
$md-text-disabled-color: rgba(0, 0, 0, 0.38);

$primary-dark: #304ffe;
$secondary-dark: #c51162;

$spacing-unit: 8px;

$input-border-error: #f44336;

// --- React-Widgets below here
$widget-font-size: 16px;

$widget-font-family: Roboto, sans-serif;
$text-color: $md-text-primary-color;
$text-secondary-color: $md-text-secondary-color;

// Actions: hover/focus
$widget-hover-bg: rgba(0, 0, 0, 0.08);
$widget-hover-border-color: transparent;
$widget-hover-color: $text-color;

$state-focus-bg: $widget-hover-bg;
$state-focus-border: $widget-hover-border-color;
$state-focus-color: $widget-hover-color;

// Actions: selected
$widget-selected-bg: rgba(0, 0, 0, 0.14);
$widget-selected-border-color: transparent;
$state-select-color: $text-color;

/// Buttons
$btn-color: $md-text-secondary-color;
$btn-hover-bg: none;
$btn-active-box-shadow: none;

$input-bg: transparent;
$input-border: rgba(0, 0, 0, 0.42);
$input-border-radius: 0;
$input-border-width: 0;

$input-focus-bg: rgba(0, 0, 0, 0.05);
$input-focus-border: $primary-dark;

$input-box-shadow: none;
$input-focus-box-shadow: none;

$input-padding-x: 0;

// $list-hover-bg: $grey-100;
// $list-hover-border-color: $grey-100;
// $list-hover-color: $text-color;

// $list-selected-bg: $list-hover-bg;
// $list-selected-border-color: $list-hover-border-color;
// $list-selected-color: $list-hover-color;

// $list-focus-bg: $list-hover-bg;
// $list-focus-border: $list-hover-border-color;

$list-padding-vertical: 0.8rem;
$list-padding-horizontal: 1rem;

$popup-box-shadow-offset: 0;
$popup-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

$popup-box-shadow-up: $popup-box-shadow;

$popup-border: none;

$calendar-cell-color: $text-color;
$calendar-cell-border-radius: 50%;

$calendar-cell-bg-select: $primary-dark;
$calendar-cell-border-select: $primary-dark;
$calendar-cell-color-select: white;

// $calendar-cell-border-radius: 50em;
// $calendar-cell-padding: 0.25em;
// $calendar-cell-align: center;

$multiselect-tag-padding-left: 0.857em;
$multiselect-tag-bg: rgb(224, 224, 224);
$multiselect-tag-border-radius: 10em;
$multiselect-tag-border: $multiselect-tag-bg;

.rw-select-bordered {
  border-width: 0;
}

// .rw-btn-select {
//   opacity: 1;
// }

.rw-dropdown-list,
.rw-multiselect,
.rw-combobox,
.rw-number-picker,
.rw-date-picker {
  margin-top: 1em;
}

.rw-widget-picker.rw-widget-container {
  padding-bottom: 1px;
  border-width: 0px;
}

.rw-widget-picker {
  &:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: $input-border-color;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:not(.rw-filter-input):hover:before {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.87);
  }

  &:after {
    content: '';
    box-sizing: content-box;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
    background-color: $input-focus-border;
  }

  .rbc-mui-field-error > &:after {
    height: 2px;
    transform: scaleX(1);
    background-color: $input-border-error;
  }

  .rw-state-focus &:not(.rw-filter-input):after {
    transform: scaleX(1);
  }
}

.rw-multiselect-tag {
  vertical-align: middle;
}

.rw-multiselect-tag-btn > * {
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.26);
  color: $multiselect-tag-bg;
  width: $multiselect-tag-height * 0.65;
  height: $multiselect-tag-height * 0.65;
}

.rw-calendar-transition {
  transition: transform 300ms;
  overflow: hidden;
}

.rw-calendar {
  border-radius: 0;
  // border: none;

  &.rw-state-focus,
  &.rw-state-focus:hover {
    background-color: transparent;
  }
}
.rw-calendar-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rw-calendar-body,
.rw-calendar-grid thead {
  display: flex;
  flex-direction: column;
}

.rw-calendar-body {
  flex-grow: 1;
  justify-content: space-around;
}

.rw-calendar-row {
  display: flex;
  justify-content: space-around;
}

.rw-cell,
.rw-head-cell {
  display: flex;
  flex: 1 0 0;
  justify-content: space-around;
}

.rw-head-cell {
  color: $md-text-disabled-color;
  font-weight: inherit;
  border-bottom-width: 0;
}

.rw-cell,
.rw-head-cell {
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}

.rw-cell {
  max-width: 52px;
  height: 52px;

  .rw-calendar-month & {
    max-width: 36px;
    height: 36px;
  }
}

.rw-cell-off-range {
  visibility: hidden;
}
