
body {
  margin-bottom: 40px;
  background: #FAFAF9;
}

h2, h3 {
  margin-top: 40px;
}

h3 {
  color: #284C6D;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-size: 20px;

}

.example {
  background-color: white;
  margin-top: 20px;
  position: relative;
  border: #ddd 1px solid;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 20px;
  padding-top: 35px;
}

code {
  color: #555;
  background-color: rgba(0,0,0,0.07);
}
.example:before {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #959595;
  content: 'Example';
}
.example + pre {
 /* background-color: #444;*/
  margin-top: 0 !important;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.keyboard-list.list-unstyled {
  padding-left: 20px;
}

.keyboard-list > li {
  padding: 10px 0;
}

.prop-header {
  position: relative;
  overflow: visible;
}
.prop-header:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

h3 {
  overflow: hidden;
}
h3 > small {
  margin-left: 5px;
  color: #555;
  font-weight: bold;
  font-size: 80%;
  font-family:Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h3 > strong {
  float: right;
  font-weight: normal;
  line-height: 1;
  color:  #AF006E;
  font-size: 65%;
  font-style: italic;
}

.rw-widget {
  max-width: 300px;
}

.nav-aside {
  position: fixed;
  top: 72px;
}

@media (max-width: 767px) {
  .nav-aside {
    position: static;
  }
}

pre > code.hljs {
  background: none;
}

pre {
  background: #F4F4F4 ;
}
.navbar-default {
  background-color: #0079C1;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  border-bottom: 3px solid #0079C1;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #E7CAA1;
  border-bottom-color: #E7CAA1;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active > a,
.navbar-default .navbar-nav>li.active > a:hover {
  color: #E7CAA1;
  border-bottom-color: #E7CAA1;
  background: none;
 /* color: white;
  background-color: #0B2A46;
  border-bottom: 3px solid #0B2A46;*/
}

.dropdown-menu{
  border-radius: 0;
 /* border-color: #0079C1;
  border-top-right-radius: 0;
  border-top-left-radius: 0;*/
}
.dropdown-menu > li > a,
.side-nav .nav li > a {
  color: #284C6D;
  border-left: 2px solid transparent;
}

.side-nav .nav > li.active .nav {
  display: block;}

.side-nav .nav .nav {
  display: none;
  padding-bottom: 10px;
  padding-left: 30px;
}

.side-nav .nav .nav > li > a {
  font-size: 80%;
}

.side-nav .nav li > a:hover,
.side-nav .nav li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li.active > a  {
  color: #B59E7D;
  background: none;
  border-left-color:  #E7CAA1;
}
.page-header {
  color: #0079C1;
  border-bottom-color: #0079C1;
}

.h1, h2,h4,h5 { color: #0079C1; }


.example .demo {
  margin: 40px auto 10px auto;
}

.example .api-panel {
  padding-top: 10px;
  border-top: #ddd 1px solid;
}

.example.example-vertical .demo {
  margin: 20px auto 30px auto;
}

.example.example-vertical .api-panel {
  margin-top: 0;
  border-top: #ddd 1px solid;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .example .api-panel {
    margin-top: -10px;
    padding-top: 0;
    border-left: #ddd 1px solid;
    border-top-width: 0;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:hover {
    border-left: 3px solid #0079C1;
    border-bottom-width: 0px;
  }

  .navbar-default .navbar-nav>li>a:hover {
    border-left: 3px solid #E7CAA1;
  }
}

.overdue {
  color: #bd362f;
}

