
body {
  margin-bottom: 40px;
  background: #FAFAF9;
}

h2, h3 {
  margin-top: 40px;
} 

h3 {
  color: #284C6D;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-size: 20px;
  
}
.example {
  background-color: white;
  margin-top: 20px;
  position: relative;
  border: #ddd 1px solid;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 20px;
  padding-top: 35px;
}

.example:before {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #959595;
  content: 'Example';
}
.example + pre {
 /* background-color: #444;*/
  margin-top: 0 !important;
  border-top-width: 0; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.keyboard-list.list-unstyled {
  padding-left: 20px;
}

.keyboard-list > li {
  padding: 10px 0;
}

h3 {
  overflow: hidden;
}

h3 > .default {
  float: right;
  font-weight: normal;
  line-height: 1;
  font-size: 65%;
  color:  #AF006E;
}

.rw-widget {
  max-width: 300px;
}

@media (max-width: 767px) {
  .nav-aside {
    position: static;
  }
}
pre > code.hljs {
  background: none;
}

pre {
  background: #F4F4F4 ;
}
.navbar-default {
  background-color: #0079C1;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  border-bottom: 3px solid #0079C1;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #E7CAA1;
  border-bottom-color: #E7CAA1;  
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active > a,
.navbar-default .navbar-nav>li.active > a:hover {
  color: #E7CAA1;
  border-bottom-color: #E7CAA1; 
  background: none;
 /* color: white;
  background-color: #0B2A46;
  border-bottom: 3px solid #0B2A46;*/
}

.side-nav .nav > li > a {
  color: #284C6D;
  border-left: 2px solid transparent;
}

.side-nav .nav > li > a:hover {
  color: #B59E7D;
  background: none;
  border-left-color:  #E7CAA1;
}
.page-header {
  color: #0079C1;
  border-bottom-color: #0079C1;
}

.h1, h2,h4,h5 { color: #0079C1; }