
body {
  font-size: 14px;
}

h4 {
  margin-top: 20px;
}



/*h3 {
  color: #284C6D;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-size: 20px;

}*/

pre + .example {
  margin-top: -10px;
  border-top-width: 0;
}

.example {
  background-color: white;
  margin-top: 20px;
  position: relative;
  border: #DAE3E7 1px solid;
  padding: 20px;
  padding-top: 35px;
}

code {
  color: #555;
  background-color: rgba(0,0,0,0.07);
}

.prop-item {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.example:before {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #959595;
  content: 'Example';
}
.example + pre {
 /* background-color: #444;*/
  margin-top: 0 !important;
  border-top-width: 0;
}

.keyboard-list.list-unstyled {
  padding-left: 20px;
}

.keyboard-list > li {
  padding: 10px 0;
}

.prop-header:before {
  display: block;
  content: " ";
  font-size: 18px;
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

h3 {
  overflow: hidden;
}

h3 > small {
  margin-left: 5px;
  color: #555;
  font-weight: bold;
  font-size: 80%;
  font-family:Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h3 > strong {
  float: right;
  font-weight: normal;
  line-height: 1;
  color:  #AF006E;
  font-size: 65%;
  font-style: italic;
}

.component-export {
  position: relative;
  padding-top: 5px;

}

/*.component-export:before {
  position: absolute;
  top: 2px;
  left: 10px;
  color: #959595;
  content: 'Usage';
}*/

.component-export div {
  color:  #3aaa64;
  font-size: 90%;
  margin-top: 5px;
}
.component-export .str {
  color:  #b35e14;
}

.demo .rw-widget:not(.rw-calendar) {
  max-width: 300px;
}

.nav-aside.affix {
  top: 20px;
}

@media (min-width: 768px) {
  .nav-aside {
    width: 165px;
    padding: 20px 10px;
  }

  .nav-aside.section-inner {
    padding: 20px 10px;
  }
}

@media (min-width: 992px) {
  .editable-example  {
    display: flex;
  }

  .nav-aside {
    width: 215px;
  }
}

@media (min-width: 1200px) {
  .nav-aside {
    width: 265px;
  }
}

@media (min-width: 1400px){
  .nav-aside {
    width: 303px;
  }
}



@media (max-width: 767px) {
  
  .nav-aside {
    position: static;
  }
}

pre > code.hljs {
  background: none;
}

pre {
  background: #F4F4F4;
  border-radius: 0;
  border-color: #DAE3E7;
}


.side-nav .nav > li.active .nav {
  display: block;
}

.side-nav .nav .nav {
  display: none;
  padding-bottom: 10px;
  padding-left: 30px;
}

.side-nav .nav .nav > li > a {
  font-size: 90%;
}

.page-header {
  margin-top: 0;
}

.example .demo {
  margin: 20px auto 10px auto;
}

.example .api-panel {
  padding-top: 10px;
  margin-top: 10px;
  border-top: #ddd 1px solid;
}

.example.example-vertical .demo {
  margin: 20px auto 30px auto;
}

.example.example-vertical .api-panel {
  margin-top: 0;
  border-top: #ddd 1px solid;
  padding-top: 10px;
}


.editable-editor,
.cm-s-neo.CodeMirror {
  background-color: #F4F4F4;
  height: auto;
  min-height: 75px;
}

.CodeMirror{
  font-size: 12px;
}

.editable-editor {
  padding: 15px;
  border-top: 1px solid #ddd;
}

.editable-rendered {
  position: relative;
  padding: 40px 15px 15px 15px;
}

.editable-rendered .rw-widget + input,
.editable-rendered .rw-widget + button,
.editable-rendered input + .rw-widget,
.editable-rendered button + .rw-widget,
.editable-rendered .rw-widget + .rw-widget {
  margin-top: 15px;
}

.editable-rendered:before {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #959595;
  content: 'Result';
}

.editable-error {
  border-top: 1px solid #ddd;
  background-color: white;
  margin: 0 -15px;
  margin-bottom: -15px;
  padding: 10px;
}

.editable-example  {
  position: relative;
  margin:  0;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

@media (min-width: 992px) {
  .example .api-panel {
    margin-top: -10px;
    padding-top: 0;
    border-left: #ddd 1px solid;
    border-top-width: 0;
  }

  .editable-editor  {
    border-top: none;
    border-right: 1px solid #ddd;
  }
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav { margin: 0 !important;}
.navbar-header,
.navbar-nav >li, .navbar-nav {
  float: left !important;
}

.navbar-nav > li > a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.overdue {
  color: #bd362f;
}

